permit_projects/permitclient/src/main/schema/permit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="permitServicens:permitService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="permitServicens:permitService" xmlns:intf="permitServicens:permitService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on May 10, 2006 (03:28:11 PDT)-->
 <wsdl:types>
  <schema targetNamespace="permitServicens:permitService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="permitException">
    <sequence/>
   </complexType>
   <complexType name="permitAuthorization">
    <sequence>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="function" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="qualifier" nillable="true" type="xsd:string"/>
     <element name="qualifierCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfpermitAuthorization">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:permitAuthorization[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="permitAuthorizationExt">
    <complexContent>
     <extension base="impl:permitAuthorization">
      <sequence>
       <element name="authorizationID" nillable="true" type="xsd:string"/>
       <element name="doFunction" nillable="true" type="xsd:string"/>
       <element name="effectiveDate" nillable="true" type="xsd:string"/>
       <element name="expirationDate" nillable="true" type="xsd:string"/>
       <element name="grantAuth" nillable="true" type="xsd:string"/>
       <element name="isActiveNow" type="xsd:boolean"/>
       <element name="modifiedBy" nillable="true" type="xsd:string"/>
       <element name="modifiedDate" nillable="true" type="xsd:string"/>
       <element name="qualifierType" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfpermitAuthorizationExt">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:permitAuthorizationExt[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="permitPickableCategory">
    <sequence>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfpermitPickableCategory">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:permitPickableCategory[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="permitPickableFunction">
    <sequence>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="fqt" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="kname" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfpermitPickableFunction">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:permitPickableFunction[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="userAuthorization">
    <complexContent>
     <extension base="impl:permitAuthorization">
      <sequence>
       <element name="authorizationID" nillable="true" type="xsd:string"/>
       <element name="doFunction" nillable="true" type="xsd:string"/>
       <element name="effectiveDate" nillable="true" type="xsd:string"/>
       <element name="expirationDate" nillable="true" type="xsd:string"/>
       <element name="grantAuth" nillable="true" type="xsd:string"/>
       <element name="modifiedBy" nillable="true" type="xsd:string"/>
       <element name="modifiedDate" nillable="true" type="xsd:string"/>
       <element name="qualifierType" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfuserAuthorization">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:userAuthorization[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listFunctionCategoriesResponse">

      <wsdl:part name="listFunctionCategoriesReturn" type="impl:ArrayOfpermitPickableCategory"/>

   </wsdl:message>

   <wsdl:message name="listAuthByPersonExtend1Request">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="category" type="xsd:string"/>

      <wsdl:part name="isActive" type="xsd:boolean"/>

      <wsdl:part name="willExpand" type="xsd:boolean"/>

      <wsdl:part name="proxyUserName" type="xsd:string"/>

      <wsdl:part name="realOrImplied" type="xsd:string"/>

      <wsdl:part name="function_name" type="xsd:string"/>

      <wsdl:part name="function_id" type="xsd:string"/>

      <wsdl:part name="function_qualifier_type" type="xsd:string"/>

      <wsdl:part name="qualifier_code" type="xsd:string"/>

      <wsdl:part name="qualifier_id" type="xsd:string"/>

      <wsdl:part name="base_qual_code" type="xsd:string"/>

      <wsdl:part name="base_qual_id" type="xsd:string"/>

      <wsdl:part name="parent_qual_code" type="xsd:string"/>

      <wsdl:part name="parent_qual_id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="batchUpdateRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="authIDs" type="xsd:string"/>

      <wsdl:part name="effective_date" type="xsd:string"/>

      <wsdl:part name="expiration_date" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByCriteriaRequest">

      <wsdl:part name="proxyUserName" type="xsd:string"/>

      <wsdl:part name="crit_list" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listPersonJSONRequest">

      <wsdl:part name="proxyUserName" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="search" type="xsd:string"/>

      <wsdl:part name="sort" type="xsd:string"/>

      <wsdl:part name="filter1" type="xsd:string"/>

      <wsdl:part name="filter2" type="xsd:string"/>

      <wsdl:part name="filter3" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="batchDeleteResponse">

      <wsdl:part name="batchDeleteReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="updateAuthorizationRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="auth_id" type="xsd:string"/>

      <wsdl:part name="function_name" type="xsd:string"/>

      <wsdl:part name="qualifier_code" type="xsd:string"/>

      <wsdl:part name="kerberos_name" type="xsd:string"/>

      <wsdl:part name="effective_date" type="xsd:string"/>

      <wsdl:part name="expiration_date" type="xsd:string"/>

      <wsdl:part name="do_function" type="xsd:string"/>

      <wsdl:part name="grant_auth" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getUserAuthorizationsResponse">

      <wsdl:part name="getUserAuthorizationsReturn" type="impl:ArrayOfuserAuthorization"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByCriteriaResponse">

      <wsdl:part name="listAuthorizationsByCriteriaReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteAuthorizationRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="auth_id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listViewableCategoriesRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listPersonJSONResponse">

      <wsdl:part name="listPersonJSONReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteAuthorizationResponse">

      <wsdl:part name="deleteAuthorizationReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="listPickableFunctionsByCategoryRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="category" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="permitException">

      <wsdl:part name="fault" type="impl:permitException"/>

   </wsdl:message>

   <wsdl:message name="batchDeleteRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="deleteIDs" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="saveCriteriaResponse">

      <wsdl:part name="saveCriteriaReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getQualifierXMLRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="function" type="xsd:string"/>

      <wsdl:part name="qualifier_type" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="batchUpdateResponse">

      <wsdl:part name="batchUpdateReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getUserAuthorizationsRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="category" type="xsd:string"/>

      <wsdl:part name="function_name" type="xsd:string"/>

      <wsdl:part name="function_id" type="xsd:string"/>

      <wsdl:part name="isActive" type="xsd:boolean"/>

      <wsdl:part name="willExpand" type="xsd:boolean"/>

      <wsdl:part name="proxyUserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="saveCriteriaRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="selection_id" type="xsd:string"/>

      <wsdl:part name="criteria_list" type="xsd:string"/>

      <wsdl:part name="value_list" type="xsd:string"/>

      <wsdl:part name="apply_list" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByPersonRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="category" type="xsd:string"/>

      <wsdl:part name="isActive" type="xsd:boolean"/>

      <wsdl:part name="willExpand" type="xsd:boolean"/>

      <wsdl:part name="proxyUserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByPersonResponse">

      <wsdl:part name="listAuthorizationsByPersonReturn" type="impl:ArrayOfpermitAuthorization"/>

   </wsdl:message>

   <wsdl:message name="createAuthorizationResponse">

      <wsdl:part name="createAuthorizationReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getQualifierRootXMLRequest">

      <wsdl:part name="root_id" type="xsd:string"/>

      <wsdl:part name="root" type="xsd:string"/>

      <wsdl:part name="qualifier_type" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByPersonRawXMLRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="category" type="xsd:string"/>

      <wsdl:part name="isActive" type="xsd:boolean"/>

      <wsdl:part name="willExpand" type="xsd:boolean"/>

      <wsdl:part name="proxyUserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="batchReplaceRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="kerberos_name" type="xsd:string"/>

      <wsdl:part name="authIDs" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getQualifierTypeForFunctionResponse">

      <wsdl:part name="getQualifierTypeForFunctionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByPersonExtRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="category" type="xsd:string"/>

      <wsdl:part name="isActive" type="xsd:boolean"/>

      <wsdl:part name="willExpand" type="xsd:boolean"/>

      <wsdl:part name="proxyUserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isUserAuthorizedRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="function_category" type="xsd:string"/>

      <wsdl:part name="function_name" type="xsd:string"/>

      <wsdl:part name="qualifier_code" type="xsd:string"/>

      <wsdl:part name="proxyUserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSelectionListRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByPersonXMLResponse">

      <wsdl:part name="listAuthorizationsByPersonXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getQualifierXMLResponse">

      <wsdl:part name="getQualifierXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isUserAuthorizedResponse">

      <wsdl:part name="isUserAuthorizedReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="listAuthByPersonExtend1Response">

      <wsdl:part name="listAuthByPersonExtend1Return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByPersonXMLRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="category" type="xsd:string"/>

      <wsdl:part name="isActive" type="xsd:boolean"/>

      <wsdl:part name="willExpand" type="xsd:boolean"/>

      <wsdl:part name="proxyUserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listPersonRawResponse">

      <wsdl:part name="listPersonRawReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listViewableFunctionsByCategoryRequest">

      <wsdl:part name="category" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="batchCreateResponse">

      <wsdl:part name="batchCreateReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByPersonRawXMLResponse">

      <wsdl:part name="listAuthorizationsByPersonRawXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="batchCreateRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="kerberos_name" type="xsd:string"/>

      <wsdl:part name="authIDs" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createAuthorizationRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="function_name" type="xsd:string"/>

      <wsdl:part name="qualifier_code" type="xsd:string"/>

      <wsdl:part name="kerberos_name" type="xsd:string"/>

      <wsdl:part name="effective_date" type="xsd:string"/>

      <wsdl:part name="expiration_date" type="xsd:string"/>

      <wsdl:part name="do_function" type="xsd:string"/>

      <wsdl:part name="grant_auth" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listViewableCategoriesResponse">

      <wsdl:part name="listViewableCategoriesReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isUserAuthorizedExtRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="function_category" type="xsd:string"/>

      <wsdl:part name="function_name" type="xsd:string"/>

      <wsdl:part name="qualifier_code" type="xsd:string"/>

      <wsdl:part name="proxyUserName" type="xsd:string"/>

      <wsdl:part name="realOrImplied" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="updateAuthorizationResponse">

      <wsdl:part name="updateAuthorizationReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="listPickableFunctionsByCategoryResponse">

      <wsdl:part name="listPickableFunctionsByCategoryReturn" type="impl:ArrayOfpermitPickableFunction"/>

   </wsdl:message>

   <wsdl:message name="listFunctionCategoriesRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isUserAuthorizedExtResponse">

      <wsdl:part name="isUserAuthorizedExtReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getCriteriaSetRequest">

      <wsdl:part name="selectionID" type="xsd:string"/>

      <wsdl:part name="UserName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getQualifierRootXMLResponse">

      <wsdl:part name="getQualifierRootXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSelectionListResponse">

      <wsdl:part name="getSelectionListReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listViewableFunctionsByCategoryResponse">

      <wsdl:part name="listViewableFunctionsByCategoryReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCriteriaSetResponse">

      <wsdl:part name="getCriteriaSetReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getQualifierTypeForFunctionRequest">

      <wsdl:part name="UserName" type="xsd:string"/>

      <wsdl:part name="category" type="xsd:string"/>

      <wsdl:part name="function_name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listPersonRawRequest">

      <wsdl:part name="proxyUserName" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="search" type="xsd:string"/>

      <wsdl:part name="sort" type="xsd:string"/>

      <wsdl:part name="filter1" type="xsd:string"/>

      <wsdl:part name="filter2" type="xsd:string"/>

      <wsdl:part name="filter3" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="batchReplaceResponse">

      <wsdl:part name="batchReplaceReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listAuthorizationsByPersonExtResponse">

      <wsdl:part name="listAuthorizationsByPersonExtReturn" type="impl:ArrayOfpermitAuthorizationExt"/>

   </wsdl:message>

   <wsdl:portType name="permit">

      <wsdl:operation name="isUserAuthorized" parameterOrder="UserName function_category function_name qualifier_code proxyUserName">

         <wsdl:input message="impl:isUserAuthorizedRequest" name="isUserAuthorizedRequest"/>

         <wsdl:output message="impl:isUserAuthorizedResponse" name="isUserAuthorizedResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="isUserAuthorizedExt" parameterOrder="UserName function_category function_name qualifier_code proxyUserName realOrImplied">

         <wsdl:input message="impl:isUserAuthorizedExtRequest" name="isUserAuthorizedExtRequest"/>

         <wsdl:output message="impl:isUserAuthorizedExtResponse" name="isUserAuthorizedExtResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByPerson" parameterOrder="UserName category isActive willExpand proxyUserName">

         <wsdl:input message="impl:listAuthorizationsByPersonRequest" name="listAuthorizationsByPersonRequest"/>

         <wsdl:output message="impl:listAuthorizationsByPersonResponse" name="listAuthorizationsByPersonResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="createAuthorization" parameterOrder="userName function_name qualifier_code kerberos_name effective_date expiration_date do_function grant_auth">

         <wsdl:input message="impl:createAuthorizationRequest" name="createAuthorizationRequest"/>

         <wsdl:output message="impl:createAuthorizationResponse" name="createAuthorizationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateAuthorization" parameterOrder="userName auth_id function_name qualifier_code kerberos_name effective_date expiration_date do_function grant_auth">

         <wsdl:input message="impl:updateAuthorizationRequest" name="updateAuthorizationRequest"/>

         <wsdl:output message="impl:updateAuthorizationResponse" name="updateAuthorizationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteAuthorization" parameterOrder="userName auth_id">

         <wsdl:input message="impl:deleteAuthorizationRequest" name="deleteAuthorizationRequest"/>

         <wsdl:output message="impl:deleteAuthorizationResponse" name="deleteAuthorizationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByPersonExt" parameterOrder="UserName category isActive willExpand proxyUserName">

         <wsdl:input message="impl:listAuthorizationsByPersonExtRequest" name="listAuthorizationsByPersonExtRequest"/>

         <wsdl:output message="impl:listAuthorizationsByPersonExtResponse" name="listAuthorizationsByPersonExtResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByPersonXML" parameterOrder="UserName category isActive willExpand proxyUserName">

         <wsdl:input message="impl:listAuthorizationsByPersonXMLRequest" name="listAuthorizationsByPersonXMLRequest"/>

         <wsdl:output message="impl:listAuthorizationsByPersonXMLResponse" name="listAuthorizationsByPersonXMLResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByPersonRawXML" parameterOrder="UserName category isActive willExpand proxyUserName">

         <wsdl:input message="impl:listAuthorizationsByPersonRawXMLRequest" name="listAuthorizationsByPersonRawXMLRequest"/>

         <wsdl:output message="impl:listAuthorizationsByPersonRawXMLResponse" name="listAuthorizationsByPersonRawXMLResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listAuthByPersonExtend1" parameterOrder="UserName category isActive willExpand proxyUserName realOrImplied function_name function_id function_qualifier_type qualifier_code qualifier_id base_qual_code base_qual_id parent_qual_code parent_qual_id">

         <wsdl:input message="impl:listAuthByPersonExtend1Request" name="listAuthByPersonExtend1Request"/>

         <wsdl:output message="impl:listAuthByPersonExtend1Response" name="listAuthByPersonExtend1Response"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByCriteria" parameterOrder="proxyUserName crit_list">

         <wsdl:input message="impl:listAuthorizationsByCriteriaRequest" name="listAuthorizationsByCriteriaRequest"/>

         <wsdl:output message="impl:listAuthorizationsByCriteriaResponse" name="listAuthorizationsByCriteriaResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listFunctionCategories" parameterOrder="UserName">

         <wsdl:input message="impl:listFunctionCategoriesRequest" name="listFunctionCategoriesRequest"/>

         <wsdl:output message="impl:listFunctionCategoriesResponse" name="listFunctionCategoriesResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listPickableFunctionsByCategory" parameterOrder="UserName category">

         <wsdl:input message="impl:listPickableFunctionsByCategoryRequest" name="listPickableFunctionsByCategoryRequest"/>

         <wsdl:output message="impl:listPickableFunctionsByCategoryResponse" name="listPickableFunctionsByCategoryResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="getQualifierTypeForFunction" parameterOrder="UserName category function_name">

         <wsdl:input message="impl:getQualifierTypeForFunctionRequest" name="getQualifierTypeForFunctionRequest"/>

         <wsdl:output message="impl:getQualifierTypeForFunctionResponse" name="getQualifierTypeForFunctionResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="getQualifierXML" parameterOrder="UserName function qualifier_type">

         <wsdl:input message="impl:getQualifierXMLRequest" name="getQualifierXMLRequest"/>

         <wsdl:output message="impl:getQualifierXMLResponse" name="getQualifierXMLResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="getQualifierRootXML" parameterOrder="root_id root qualifier_type">

         <wsdl:input message="impl:getQualifierRootXMLRequest" name="getQualifierRootXMLRequest"/>

         <wsdl:output message="impl:getQualifierRootXMLResponse" name="getQualifierRootXMLResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listViewableCategories" parameterOrder="UserName">

         <wsdl:input message="impl:listViewableCategoriesRequest" name="listViewableCategoriesRequest"/>

         <wsdl:output message="impl:listViewableCategoriesResponse" name="listViewableCategoriesResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listViewableFunctionsByCategory" parameterOrder="category">

         <wsdl:input message="impl:listViewableFunctionsByCategoryRequest" name="listViewableFunctionsByCategoryRequest"/>

         <wsdl:output message="impl:listViewableFunctionsByCategoryResponse" name="listViewableFunctionsByCategoryResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="batchCreate" parameterOrder="UserName kerberos_name authIDs">

         <wsdl:input message="impl:batchCreateRequest" name="batchCreateRequest"/>

         <wsdl:output message="impl:batchCreateResponse" name="batchCreateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="batchDelete" parameterOrder="UserName deleteIDs">

         <wsdl:input message="impl:batchDeleteRequest" name="batchDeleteRequest"/>

         <wsdl:output message="impl:batchDeleteResponse" name="batchDeleteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="batchReplace" parameterOrder="UserName kerberos_name authIDs">

         <wsdl:input message="impl:batchReplaceRequest" name="batchReplaceRequest"/>

         <wsdl:output message="impl:batchReplaceResponse" name="batchReplaceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="batchUpdate" parameterOrder="UserName authIDs effective_date expiration_date">

         <wsdl:input message="impl:batchUpdateRequest" name="batchUpdateRequest"/>

         <wsdl:output message="impl:batchUpdateResponse" name="batchUpdateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="saveCriteria" parameterOrder="UserName selection_id criteria_list value_list apply_list">

         <wsdl:input message="impl:saveCriteriaRequest" name="saveCriteriaRequest"/>

         <wsdl:output message="impl:saveCriteriaResponse" name="saveCriteriaResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSelectionList" parameterOrder="UserName">

         <wsdl:input message="impl:getSelectionListRequest" name="getSelectionListRequest"/>

         <wsdl:output message="impl:getSelectionListResponse" name="getSelectionListResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="getCriteriaSet" parameterOrder="selectionID UserName">

         <wsdl:input message="impl:getCriteriaSetRequest" name="getCriteriaSetRequest"/>

         <wsdl:output message="impl:getCriteriaSetResponse" name="getCriteriaSetResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listPersonRaw" parameterOrder="proxyUserName name search sort filter1 filter2 filter3">

         <wsdl:input message="impl:listPersonRawRequest" name="listPersonRawRequest"/>

         <wsdl:output message="impl:listPersonRawResponse" name="listPersonRawResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="listPersonJSON" parameterOrder="proxyUserName name search sort filter1 filter2 filter3">

         <wsdl:input message="impl:listPersonJSONRequest" name="listPersonJSONRequest"/>

         <wsdl:output message="impl:listPersonJSONResponse" name="listPersonJSONResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserAuthorizations" parameterOrder="UserName category function_name function_id isActive willExpand proxyUserName">

         <wsdl:input message="impl:getUserAuthorizationsRequest" name="getUserAuthorizationsRequest"/>

         <wsdl:output message="impl:getUserAuthorizationsResponse" name="getUserAuthorizationsResponse"/>

         <wsdl:fault message="impl:permitException" name="permitException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="permitSoapBinding" type="impl:permit">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isUserAuthorized">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isUserAuthorizedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isUserAuthorizedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="isUserAuthorizedExt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isUserAuthorizedExtRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isUserAuthorizedExtResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAuthorizationsByPersonRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listAuthorizationsByPersonResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createAuthorization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAuthorizationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createAuthorizationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateAuthorization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateAuthorizationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateAuthorizationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAuthorization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAuthorizationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteAuthorizationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByPersonExt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAuthorizationsByPersonExtRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listAuthorizationsByPersonExtResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByPersonXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAuthorizationsByPersonXMLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listAuthorizationsByPersonXMLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByPersonRawXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAuthorizationsByPersonRawXMLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listAuthorizationsByPersonRawXMLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listAuthByPersonExtend1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAuthByPersonExtend1Request">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listAuthByPersonExtend1Response">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listAuthorizationsByCriteria">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAuthorizationsByCriteriaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listAuthorizationsByCriteriaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listFunctionCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listFunctionCategoriesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listFunctionCategoriesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listPickableFunctionsByCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listPickableFunctionsByCategoryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listPickableFunctionsByCategoryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getQualifierTypeForFunction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQualifierTypeForFunctionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getQualifierTypeForFunctionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getQualifierXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQualifierXMLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getQualifierXMLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getQualifierRootXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQualifierRootXMLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getQualifierRootXMLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listViewableCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listViewableCategoriesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listViewableCategoriesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listViewableFunctionsByCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listViewableFunctionsByCategoryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listViewableFunctionsByCategoryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="batchCreate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="batchCreateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="batchCreateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="batchDelete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="batchDeleteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="batchDeleteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="batchReplace">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="batchReplaceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="batchReplaceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="batchUpdate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="batchUpdateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="batchUpdateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveCriteria">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveCriteriaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="saveCriteriaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSelectionList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSelectionListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSelectionListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCriteriaSet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCriteriaSetRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCriteriaSetResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listPersonRaw">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listPersonRawRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listPersonRawResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listPersonJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listPersonJSONRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listPersonJSONResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserAuthorizations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserAuthorizationsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserAuthorizationsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="permitException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="permitException" namespace="permitServicens:permitService" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="permitService">

      <wsdl:port binding="impl:permitSoapBinding" name="permit">

         <wsdlsoap:address location="http://localhost:8080/permitws//services/permit"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
